name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "yarn"

      - name: Install dependencies
        run: yarn

      - name: Run linter
        run: yarn lint

      - name: Run typecheck
        run: yarn typecheck

      - name: Build project
        run: yarn build
        env:
          NODE_OPTIONS: --max_old_space_size=8192
